<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/fenxer/agent-aibo/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zEBD9L5xaycWBWiGnvwRT7492OVBIgHf50DiFCjltsE=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
</dict>
</plist>
